include ../mixins/navbar

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Wireless 4 U
        link(rel="stylesheet", href="/css/bootstrap.min.css")

    block content
    body.bg-light
        div.contatiner-fluid
            +navbar()
        script(src="/js/bootstrap.min.js")