extends ../layout

block content
  div.col-md-6.mx-auto
    if error && error.length > 0
      .alert.alert-danger.alert-dismissible.fade-in(role="alert")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") ×
        p= error
    if success && success.length > 0
      .alert.alert-success.alert-dismissible.fade-in(role="alert")
        button.close(type="button" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") ×
        p= success
    h5 Login
    form(action="/user/login", method="post")
      .form-group
        label(for='email') Email address
        input.form-control(type='email' name="email" aria-describedby='emailHelp' placeholder='Enter email')
        small.form-text.text-muted We&apos;ll never share your email with anyone else.
      .form-group
        label(for='password') Password
        input.form-control(type='password' name="password" placeholder='Password')
      button.btn.btn-primary(type='submit') Submit


