mixin navbar()
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/') Wireless4U
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/services') Services
        li.nav-item
          a.nav-link(href='/phones') Phones
        li.nav-item
          a.nav-link(href='/accessories') Accessories
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            | Account
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/user/register') Register
            a.dropdown-item(href='/user/login') Employee Login
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search